<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Navbar</a></li>
    <li><a href="#">ListOfDelivery</a></li>
  </ul>
  <div id="print-section">
  <table class="table">
    <thead class="black white-text">
      <tr>
        <th scope="col">Sales Document</th>  
        <th scope="col">Created By Information</th>
        <th scope="col">Entry Time</th>
        <th scope="col">Created On</th>
        <th scope="col">Loading Date</th>
        <th scope="col">Goods Issue Date</th>
        <th scope="col">Delivery Date</th>
        <th scope="col">Pick Date</th>
        <th scope="col">InCoTerms1</th>
        <th scope="col">InCoTerms2</th>
        <th scope="col">SD Item Information</th>
        <th scope="col">Material Information</th>
        <th scope="col">Material Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let listofdel of listofdel">
        <td>{{listofdel.VBELN}}</td>
        <td>{{listofdel.ERNAM}}</td>
        <td>{{listofdel.ERZET}}</td>
        <td>{{listofdel.ERDAT}}</td>
        <td>{{listofdel.LDDAT}}</td>
        <td>{{listofdel.WADAT}}</td>
        <td>{{listofdel.LFDAT}}</td>
        <td>{{listofdel.KODAT}}</td>
        <td>{{listofdel.INCO1}}</td>
        <td>{{listofdel.INCO2}}</td>
        <td>{{listofdel.POSNR}}</td>
        <td>{{listofdel.MATNR}}</td>
        <td>{{listofdel.MTART}}</td>
      </tr>
    </tbody>
  </table>
</div>
<button mat-raised-button color="primary" printSectionId="print-section" ngxPrint 
style="float: right; margin-right: 5% ; margin-bottom:5%; background-color: #34b5b8; color: white;">Print</button>