<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Navbar</a></li>
    <li><a href="#">InquiryData</a></li>
  </ul>
<div id="print-section">
  <table class="table">
    <thead class="black white-text">
      <tr>
        <th scope="col">Material Number</th>
        <th scope="col">Material Description</th>
        <th scope="col">Ordered Quantity</th>
        <th scope="col">Net Price</th>
        <th scope="col">Net Value</th>
        <th scope="col">Delivery Date</th>
      </tr>
    </thead> 
    <tbody>
      <tr *ngFor= "let inquiry of inquiry">
        <td>{{+inquiry.MATNR}}</td>
        <td>{{inquiry.ARKTX}}</td>
        <td>{{inquiry.KWMENG}}</td>
        <td>{{inquiry.NETPR}}</td>
        <td>{{inquiry.NETWR}}</td>
        <td>{{inquiry.VDATU}}</td>
      </tr>
    </tbody>
  </table>
</div>
  <button mat-raised-button color="primary" printSectionId="print-section" ngxPrint 
  style="float: right; margin-right: 5%;background-color: #34b5b8; color: white;">Print</button>