<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Navbar</a></li>
    <li><a href="#">SaleOrderData</a></li>
  </ul>

  <table class="table">
    <thead class="black white-text">
      <tr>
        <th scope="col">Sales Document</th>
        <th scope="col">Document Date</th>
        <th scope="col">Sale Order Item</th>
        <th scope="col">Document Type</th>
        <th scope="col">Shipping Condition</th>
        <th scope="col">Sold to Party</th>
        <th scope="col">Company Code to be billed</th>
        <th scope="col">Material Information</th>
        <th scope="col">Material Entered</th>
        <th scope="col">Material Group</th>
        <th scope="col">SD Item Type</th>
        <th scope="col">Net Value</th>
        <th scope="col">Net Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let saleorder of saleorder">
        <td>{{saleorder.VBELN}}</td>
        <td>{{saleorder.AUDAT}}</td>
        <td>{{saleorder.ARKTX}}</td>
        <td>{{saleorder.AUART}}</td>
        <td>{{saleorder.VSBED}}</td>
        <td>{{saleorder.KUNAG}}</td>
        <td>{{saleorder.BUKRS_VF}}</td>
        <td>{{saleorder.MATNR}}</td>
        <td>{{saleorder.MATWA}}</td>
        <td>{{saleorder.MATKL}}</td>
        <td>{{saleorder.POSAR}}</td>
        <td>{{saleorder.NETWR}}</td>
        <td>{{saleorder.NETPR}}</td>
      </tr>
    </tbody>
  </table>