<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Navbar</a></li>
    <li><a href="#">Dashboard</a></li>
  </ul>
 <h1 class="heading">
     Welcome To Customer Portal!
 </h1> 
  <mdb-carousel [animation]="'slide'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/kaar1.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/kaar2.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/kaar3.jpg" alt="Third slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/kaar4.jpg" alt="Fourth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/kaar5.jpg" alt="Fifth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/kaar6.jpg" alt="Sixth slide">
    </mdb-carousel-item>

  </mdb-carousel>
  <br>

  <h1 class="aboutus">About us</h1>
  <p class="text">
    Kaar Technologies is a global consulting firm focused at designing, delivering and deploying the finest ideas and SAP expertise 
    to empower companies in achieving new heights of excellence in today’s challenging business landscape.
  </p>
  <p class="text">
    Our combined thrust drawn from the business vision of our leadership team and assimilated SAP capability propels us to partner with our 
    clients in identifying and architecting their business agenda. As a CMMi level 3 company, Kaar believes in being a trusted advisor to clients 
    and fosters long-term working relationships by exceeding customer expectations.
  </p>
  <p class="text">
    Driven by the steadfast pursuit of excellence, Kaar Technologies exudes professionalism and proficiency in all areas of function. Every day we
     are inspired to impact businesses with original and imaginative approaches and help cultivate tomorrow’s breakthroughs.
  </p>