<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Navbar</a></li>
    <li><a href="#">OverallSales Data</a></li>
  </ul>

  <table class="table">
    <thead class="black white-text">
      <tr>
        <th scope="col">VBELN</th>
        <th scope="col">ERNAM</th>
        <th scope="col">ERDAT</th>
        <th scope="col">KUNNR</th>
        <th scope="col">VBTYP</th>
        <th scope="col">ERZET</th>
    <!--<th scope="col">BNDDT</th>
        <th scope="col">ANGDT</th> -->
        <th scope="col">POSNR</th>
        <th scope="col">MATNR</th>
        <th scope="col">ARKTX</th>
        <th scope="col">VKORG</th>
        <th scope="col">VTWEG</th>
        <th scope="col">SPART</th>
     <!--   <th scope="col">VKGRP</th>
        <th scope="col">VKBUR</th> -->
        <th scope="col">WAERK</th>
        <th scope="col">NETWR</th>
        <th scope="col">NETPR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let overallsales of overallsales">
        <td>{{overallsales.VBELN}}</td>
        <td>{{overallsales.ERNAM}}</td>
        <td>{{overallsales.ERDAT}}</td>
        <td>{{overallsales.KUNNR}}</td>
        <td>{{overallsales.VBTYP}}</td>
        <td>{{overallsales.ERZET}}</td>
    <!--    <td>{{overallsales.BNDDT}}</td>
        <td>{{overallsales.ANGDT}}</td> -->
        <td>{{overallsales.POSNR}}</td>
        <td>{{overallsales.MATNR}}</td>
        <td>{{overallsales.ARKTX}}</td>
        <td>{{overallsales.VKORG}}</td>
        <td>{{overallsales.VTWEG}}</td>
        <td>{{overallsales.SPART}}</td>
    <!--    <td>{{overallsales.VKGRP}}</td>
        <td>{{overallsales.VKBUR}}</td> -->
        <td>{{overallsales.WAERK}}</td>
        <td>{{overallsales.NETWR}}</td>
        <td>{{overallsales.NETPR}}</td>
      </tr>
    </tbody>
  </table>